name: Deploy to VPS

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /var/www/mds-next-pwa &&
            git pull &&
            docker build -t mds-next-pwa . &&
            docker stop mds-next-pwa || true &&
            docker rm mds-next-pwa || true &&
            docker run -d -p 3000:3000 --name mds-next-pwa --restart unless-stopped mds-next-pwa